<div class="jumbotron">
    <h1 class="display-3">First page of the app</h1>
    <p class="lead">In the end it's aimed to be personal-finance management app</p>
    <hr class="my-4">
    <p>For now it's just a simple page</p>
    <p class="lead">
        <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
    </p>
</div>
