| $("#modal-window .modal-content .modal-body").html("#{{ j render 'balance_transactions/form'}}");
| $("#modal-window .modal-title").text("#{escape_javascript(t('.edit_transaction'))}");
| $("#modal-window").modal('show');
