| $("#modal-window .modal-content .modal-body").html("#{{ j render 'categories/form'}}");
| $("#modal-window .modal-title").text("#{escape_javascript(t('.edit_category'))}");
| $("#modal-window").modal('show');
