| $("#modal-window .modal-content .modal-body").html("#{escape_javascript(render 'categories/form')}");
| $("#modal-window .modal-title").text("#{escape_javascript(t('.new_category'))}");
| $("#modal-window").modal('show');
