| $("#modal-window .modal-content .modal-body").html("#{escape_javascript(render 'transactions/form')}");
| $("#modal-window .modal-title").text("#{escape_javascript(t('.new_transaction'))}");
| $("#modal-window").modal('show');
